body {
    font-size: 14px;
    background-color: #def4e1;
}

#list {
    list-style-type: none;
    padding: 0;
}

.avatar {
    float: right;
}

.item {
    font-size: 18px;
    border-bottom: 1px solid #FFF;
}

.stamp {
    clear: both;
    font-size: 12px;
}

footer {
    font-size: 10px;
}
