<!Doctype html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ static_url("style.css") }}" type="text/css"/>
    <link href="{{ static_url("icon.png") }}" rel="shortcut icon" type="image/x-icon" />

    <script src="{{ static_url("jquery-1.6.2.min.js") }}" type="text/javascript"></script>
    <script src="{{ static_url("jquery.tmpl.min.js") }}" type="text/javascript"></script>
    <script src="{{ static_url("jquery.masonry.min.js") }}" type="text/javascript"></script>
    <script src="{{ static_url("json-minified.js") }}" type="text/javascript"></script>
    <script src="{{ static_url("im.js") }}" type="text/javascript"></script>

    <script id="itemsTemplate" type="text/x-jquery-tmpl">
    <li class="item" style="display:none">
    <img class="avatar" src="${avatar}" />
    <p class="content">${content}</p>
    <p class="stamp"><span class="anthor">${name}</span> <span class="date">${date}</span></p>
    </li>
    </script>
    <title>颠颠</title>
</head>
<body>
    <header>
    <h1><a href="/">颠颠</a></h1>
    </header>
    <div id="main">
        <div id="chat">
            <form action="add/" method="post">
                <input type="text" id="name" name="name" placeholder="昵称 (必填)" required>
                <input type="email" id="email" name="email" placeholder="email (必填，不会透露)" required></p>
                <input type="text" id="content" name="content" required></textarea>
                <input type="submit" id="post" value="发送">
            </form>
        </div>
        <div id="items">
            <ul id="list">
            </ul>
        </div>
    </div>
</body>
</html>
